 <!-- product start -->
 <div class="row">
    <!-- product1 start -->
    <div
    
      class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product1 end -->
    <!-- product2 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
       
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product2 end -->
    <!-- product3 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product3 end -->
    <!-- product4 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product4 end -->
    <!-- product5 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
       
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product5 end -->
    <!-- product6 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product6 end -->
    <!-- product7 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product7 end -->
    <!-- product8 start -->
    <div
    class="card bg-gradient-secondary ml-auto mr-auto card-product"
    >
      <div
        class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
      >
        <h3 class="h3-card-product-price">18.200 TL</h3>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/theme/img-1-1000x600.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title h4">Product Name</h5>
      </div>
      <div class="card-footer bg-gradient-secondary">
        <button type="button" class="btn btn-vimeo btn-icon">
          <span class="btn-inner--icon"><i class="fab fa-vimeo-v"></i></span>
          <span class="btn-inner--text">Satın Al</span>
        </button>
        <button type="button" class="btn btn-slack btn-icon">
          <span class="btn-inner--icon"
            ><i class="fas fa-cart-arrow-down fa-1x"></i
          ></span>
        </button>
      </div>
    </div>
    <!-- product8 end -->
  </div>
  <!-- card-end -->
  




