<div style="margin-top: 140px;"
    id="carouselExampleIndicators"
    class="carousel slide mb-5 pb-2"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="1"
        class=""
      ></li>
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="2"
        class=""
      ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-12 col-lg-4 ml-auto mr-auto">
            <div class="row">
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card bg-gradient-secondary ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card bg-gradient-secondary ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-4 ml-auto mr-auto">
            <div class="row">
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card bg-gradient-secondary carousel-item-card ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card carousel-item-card bg-gradient-secondary ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price  w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-4 ml-auto mr-auto">
            <div class="row">
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card bg-gradient-secondary ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
              <!-- product1 start -->
              <div
                style="max-width: 300px; max-height: 350px"
                class="card bg-gradient-secondary ml-auto mr-auto"
              >
                <div
                  class="text-white bg-card-product-price w-30-card-product-price shadow ml-card-product-price position-absolute-card-product-price"
                >
                  <h3 class="h3-card-product-price">18.200 TL</h3>
                </div>
                <img
                  class="card-img-top"
                  src="../../assets/img/theme/img-1-1000x600.jpg"
                  alt="Card image cap"
                />
              </div>
              <!-- product1 end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>