 <!-- Sidenav -->
 <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <app-left-navbar></app-left-navbar>
  </nav>
 <!-- Main content -->
 <div class="main-content" id="panel">
   <!-- Topnav -->
  
   <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
     <div class="container-fluid">
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
         <!-- Navbar links -->
         <ul class="navbar-nav align-items-center  ml-md-auto ">
         <app-top-navbar></app-top-navbar>
         </ul>
         <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
          <app-login-navbar></app-login-navbar>
         </ul>
     
       </div></div>
   </nav>
   <!-- Header -->
   <!-- Header -->
   <div class="header  bg-secondary pb-6">
     <div class="container-fluid">
       <div class="header-body">
      
       </div>
     </div>
   </div>
   <!-- Page content -->
   <div  class="container-fluid mt--6">
     <router-outlet></router-outlet>
   </div>
 </div>