 <div class="modal-body p-0">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            <small>Kayıt Ol</small>
          </div>
          <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="../../assets/img/icons/common/github.svg"
              /></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="../../assets/img/icons/common/google.svg"
              /></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form  (submit)="register()" role="form">
            <div class="form-group mb-3">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-user-tie"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Full Name"
                  type="text"
                  [(ngModel)]="registerUser.fullName"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  [(ngModel)]="registerUser.email"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-phone-alt"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Mobile phone"
                  type="tel"
                  [(ngModel)]="registerUser.mobilePhones"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  type="password"
                  [(ngModel)]="registerUser.password"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-map-marked-alt"></i></span>
                </div>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address"   [(ngModel)]="registerUser.address"
                [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                <i class="far fa-address-card"></i>
                Kayıt Ol
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>